.closed-result, .opened-result{
	max-width: 60%;
	text-align: center;
	margin: auto;
	transition: all .9s cubic-bezier(.14,-0.45,.89,1.35) .4s;
}

.closed-result{
	max-height: 0;
	box-sizing: border-box;
	font-size: 1.875rem;
	color: transparent;
}

.opened-result{
	font-size: 1.875rem;
	border-radius: 10px;
	max-height: 5em; 
	color: rgb(255, 255, 255); 
	text-shadow: 1px 1px 1px rgb(0, 53, 0);
	background-color: rgb(54, 136, 54); 
	padding: 20px 10px;
}